{% load static %} {% block sidebar %}
<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <div class="user-sidebar text-center">
            {% comment %}
            <div class="dropdown">
                <div class="user-img">
                    <img src="{% static 'images/users/avatar-7.jpg' %}" alt="" class="rounded-circle">
                    <span class="avatar-online bg-success"></span>
                </div>
                <div class="user-info">
                    <h5 class="mt-3 font-size-16 text-white">{{ user.username}}</h5>
                </div>
            </div> {% endcomment %}
        </div>
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>
                <li>
                    <a href="{% url 'index' %}" class="waves-effect">
                        <i class="dripicons-home"></i><span class="badge rounded-pill bg-info float-end"></span>
                        <span key="t-dashboard">Trang chủ</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" class=" waves-effect">
                        <i class="dripicons-calendar"></i>
                        <span key="t-calendar">Báo cáo</span>
                    </a>
                </li>
                <li class="menu-title" key="t-components">HỢP ĐỒNG </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="dripicons-copy"></i>
                        <span key="t-pages">Hợp đồng</span>
                    </a>
                    <ul class="sub-menu" id="data_contract" aria-expanded="false">
                        <!-- <li><a href="{% url 'contract' %}">Hợp đồng vận chuyển</a></li>
                        <li><a href="javascript: void(0);">Hợp đồng gia công</a></li>
                        <li><a href="javascript: void(0);">Hợp đồng Lixăng</a></li>
                        <li><a href="javascript: void(0);">Công ty Thương mại</a></li>
                        <li><a href="javascript: void(0);">Hợp đồng Miền nam</a></li>
                        <li><a href="javascript: void(0);">Hợp đồng khác</a></li> -->
                    </ul>
                </li>
                <li>
                    <a href="{% url 'annex' %}" class="aves-effect">
                        <i class="dripicons-map"></i>
                        <span key="t-maps">Phụ lục hợp đồng</span>
                    </a>
                    {% comment %}
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="{% url 'annex' %}">Hợp đồng vận chuyển</a></li>
                        <li><a href="javascript: void(0);">Hợp đồng gia công</a></li>
                        <li><a href="javascript: void(0);">Hợp đồng Lixăng</a></li>
                        <li><a href="javascript: void(0);">Công ty Thương mại</a></li>
                        <li><a href="javascript: void(0);">Hợp đồng Miền nam</a></li>
                        <li><a href="javascript: void(0);">Hợp đồng khác</a></li>
                    </ul> {% endcomment %}
                </li>
                <li>
                    <a href="{% url 'type_contract' %}" class=" waves-effect">
                        <i class="dripicons-suitcase"></i>
                        <span>Loại hợp đồng</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'contract_form' %}" class=" waves-effect">
                        <i class="dripicons-to-do"></i>
                        <span>Hợp đồng mẫu</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'status_view' %}" class=" waves-effect">
                        <i class="dripicons-to-do"></i>
                        <span>Trạng thái hợp đồng</span>
                    </a>
                </li>
                <li>
                    {% if user.is_staff == True %}
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="dripicons-copy"></i>
                            <span key="t-pages">Nhóm Hợp Đồng</span>
                        </a>
                        <ul class="sub-menu" id="group_index" aria-expanded="false">

                        </ul>
                    </li>
                    {% endif %}

                </li>

                <li class="menu-title" key="t-extras">Khách hàng</li>
                <li>
                    <a href="{% url 'customer' %}" class=" waves-effect">
                        <i class="dripicons-device-desktop"></i>
                        <span key="t-layouts">Khách hàng</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'director' %}" class=" waves-effect">
                        <i class="dripicons-user-group"></i>
                        <span key="t-authentication">Người đại diện</span>
                    </a>
                </li>

            </ul>
        </div>
        <span id="userid" style="display: none;">{{user.id}}</span>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->

{% endblock sidebar %}