{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Phụ lục hợp đồng{% endblock title %}

{% block content %}
        <div class="main-content">
            <div class="page-content">
                <!-- start page title -->
                <div class="page-title-box">
                    <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                            <div class="float-end d-none d-sm-block">
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- end page title -->    
                <div class="container-fluid">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">Thêm Phụ lục hợp đồng</h4>
                                        <p class="card-title-desc"></p>
                                        <form class="needs-validation" action="" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="mb-3">
                                                        <label for="validationCustom01" class="form-label">Số phụ lục</label>
                                                        <input type="text" class="form-control" id="validationCustom01" name="name"
                                                            placeholder="Số phụ lục" value="" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label for="validationCustom02" class="form-label">Trích yếu</label>
                                                        <input type="text" class="form-control" id="validationCustom02"
                                                            placeholder="Trích yếu" name="abstract" value="">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="mb-3">
                                                        <label for="validationCustom02" class="form-label">Ngày ký</label>
                                                        <div class="input-group" id="datepicker1">
                                                            <input type="text" class="form-control" placeholder="dd/mm/yyyy" name="signing_date"
                                                                data-date-format="dd/mm/yyyy" data-date-container='#datepicker1' data-provide="datepicker">
                                                                <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Hiệu lực phụ lục hợp đồng</label>
                                                        <div class="input-daterange input-group" id="datepicker6" data-date-format="dd/mm/yyyy" data-date-autoclose="true" data-provide="datepicker" data-date-container='#datepicker6'>
                                                            <input type="text" class="form-control" name="value_date" required placeholder="Start Date"/>
                                                            <input type="text" class="form-control" name="expire_date" required placeholder="End Date" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Hợp đồng</label>
                                                        <select class="form-control selectpicker" data-live-search="true" name="contract">
                                                            <option selected disabled value="">Choose...</option>
                                                            {% for i in contract_list %}
                                                            <option value="{{i.id}}">{{i.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Người đại diện</label>
                                                        <select class="form-control selectpicker" data-live-search="true" name="director">
                                                            <option selected disabled value="">Choose...</option>
                                                            {% for i in director_list %}
                                                            <option value="{{i.id}}">{{i.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Khách hàng</label>
                                                        <select class="form-control selectpicker" data-live-search="true" name="customer">
                                                            <option selected disabled value="">Choose...</option>
                                                            {% for i in customer_list %}
                                                            <option value="{{i.id}}">{{i.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                
                                                
                                                <div class="col-md-3">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="input-currency">Giá trị phục lục hợp đồng</label>
                                                            <input id="input-currency" class="form-control input-mask text-left" name="contract_value" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'digits': 0, 'digitsOptional': false, 'placeholder': '0'">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="mb-3">
                                                        <label class="form-label">Trạng thái hợp đồng</label>
                                                        <select class="form-control selectpicker" data-live-search="true" name="status">
                                                            <option selected disabled value="">Choose...</option>
                                                            {% for i in status_list %}
                                                            <option value="{{i.id}}">{{i.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="mb-3">
                                                        <label class="form-label">Sản phẩm</label>
                                                        <select class="form-control selectpicker" data-live-search="true"name="pricelist">
                                                            <option selected disabled value="">Choose...</option>
                                                            <option value=""></option>
                                                        </select>
                                                    </div>
                                                </div>
    
                                                <div class="col-md-3">
                                                    <div class="mb-3">
                                                        <label for="formFile" class="form-label">Phụ lục hợp đồng</label>
                                                        <input class="form-control" name="upload_contract" type="file" id="formFile">
                                                      </div>
                                                </div>
                                            </div>
                                            
                                            <div class="mb-3">
                                                <label>Ghi chú</label>
                                                <div>
                                                    <textarea class="form-control" name="note" rows="5"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" type="checkbox" id="formCheck2" name="active" checked>
                                                <label class="form-check-label" for="formCheck2">  
                                                    Activated
                                                </label>
                                            </div>

                                            <div>
                                                <div>
                                                    <button type="Submit" class="btn btn-primary waves-effect waves-light me-1">
                                                        Submit
                                                    </button>
                                                    <button type="reset" class="btn btn-secondary waves-effect">
                                                        Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
{% endblock content %}
{% block extra_javascript %}
    <script src="{% static 'libs/parsleyjs/dist/parsley.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>

    <!-- form mask -->
    <script src="{% static 'libs/inputmask/dist/jquery.inputmask.min.js' %}"></script>
    <!-- form mask init -->
    <script src="{% static 'js/pages/form-mask.init.js' %}"></script>    

    <script src="{% static 'js/pages/form-validation.init.js' %}"></script>

{% endblock extra_javascript %}