{% extends 'partials/base.html' %} {% load humanize %} {% load static %} {% block title %}Hợp đồng{% endblock title %} {% block extra_css %}
<!-- DataTables -->
<link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

<!-- Responsive datatable examples -->
<link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" /> {% endblock extra_css %} {% block content %}
<div class="main-content">
    <div class="page-content">
        <!-- start page title -->
        <div class="page-title-box">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                        <div class="float-end d-none d-sm-block">
                            <a href="{% url 'create_contract' %}" class="btn btn-success">Thêm Hợp đồng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title -->
        <div class="container-fluid">
            <div class="page-content-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-xl-6 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <p class="font-size-16">Hợp đồng</p>
                                            <div class="mini-stat-icon mx-auto mb-4 mt-3">
                                                <span class="avatar-title rounded-circle bg-soft-primary">
                                                            <i class="mdi"><img src="{% static 'images/hopdong2.png' %}" alt="" height="40" width="40"></i>
                                                        </span>
                                            </div>
                                            <h5 class="font-size-22">58</h5>
                                            <div class="progress mt-3" style="height: 4px;">
                                                <div class="progress-bar progress-bar bg-primary" role="progressbar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <p class="font-size-16">Phụ lục hợp đồng</p>
                                            <div class="mini-stat-icon mx-auto mb-4 mt-3">
                                                <span class="avatar-title rounded-circle bg-soft-success">
                                                            <i class="mdi"><img src="{% static 'images/hopdong3.png' %}" alt="" height="40" width="40"></i>
                                                        </span>
                                            </div>
                                            <h5 class="font-size-22">136</h5>
                                            <div class="progress mt-3" style="height: 4px;">
                                                <div class="progress-bar progress-bar bg-success" role="progressbar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card">
                            <div class="card-body  pt-0">
                                <ul class="nav nav-tabs nav-tabs-custom mb-4">
                                    <li class="nav-item">
                                        <a class="nav-link fw-bold p-3 active" href="#">Hợp đồng</a>
                                    </li>
                                    {% comment %}
                                    <li class="nav-item">
                                        <a class="nav-link p-3 fw-bold" href="#">Active</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-3 fw-bold" href="#">Unpaid</a>
                                    </li> {% endcomment %}
                                </ul>
                                <div class="table-responsive">
                                    <table id="example" class="display" width="100%"></table>
                                </div>
                            </div>
                        </div>
                        <!-- Delete Modal HTML -->
                        {% for data in contract_list %}
                        <div id="deletecontract-{{data.id}}" class="modal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header flex-column">
                                        <div class="icon-box">
                                            <i><img src="{% static 'images/delete.png' %}" alt="" height="60" width="60"></i>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <p>Bạn có chắc chắn muốn xóa Hợp đồng này không ?</p>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <a href="{% url 'delete_contract' data.id %}" type="button" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- end row -->
            </div>
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
    {% endblock content %} {% block extra_javascript %}
    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <script src="{% static 'js/pages/ecommerce-datatables.init.js' %}"></script>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const id = urlParams.get('id');
        $.ajax({
            url: `${window.location.origin}/contract/getAllContractGroupById`,
            method: 'POST',
            data: {
                id: id
            },
            success: (data) => {
                $('#example').DataTable({
                    data: data['data'],
                    columns: [{
                            title: "Trích yếu"
                        }, {
                            title: "Ngày ký"
                        }, {
                            title: "Ngày hiệu lực"
                        }, {
                            title: "Loại hợp đồng"
                        }, {
                            title: "Khách hàng"
                        }, {
                            title: "Giá trị hợp đồng"
                        }, {
                            title: "Bảo lãnh hợp đồng"
                        }, {
                            title: "Sửa"
                        }, {
                            title: "Xóa"
                        }

                    ]
                });


            },
            error: (err) => {
                console.log(err);
            }
        })

        function routerEdit(id) {
            window.location.replace(`${window.location.origin}/contract/${id}/update`)
        }
    </script>
    {% endblock extra_javascript %}