{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Hợp đồng{% endblock title %}

{% block content %}
        <div class="main-content">
            <div class="page-content">
                <!-- start page title -->
                <div class="page-title-box">
                    <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                            <div class="float-end d-none d-sm-block">
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- end page title -->    
                <div class="container-fluid">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">Thêm Hợp đồng</h4>
                                        <p class="card-title-desc"></p>
                                        <form class="needs-validation" action="" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="mb-3">
                                                        <label for="validationCustom01" class="form-label">Số hợp đồng</label>
                                                        <input type="text" class="form-control" id="validationCustom01" name="name"
                                                            placeholder="Số hợp đồng" value="{{ contract.name }}" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label for="validationCustom02" class="form-label">Trích yếu</label>
                                                        <input type="text" class="form-control" id="validationCustom02"
                                                            placeholder="Trích yếu" name="abstract" value="{{ contract.abstract }}" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="mb-3">
                                                        <label for="validationCustom02" class="form-label">Ngày ký</label>
                                                        <div class="input-group" id="datepicker1">
                                                            <input type="text" class="form-control" placeholder="dd/mm/yyyy" name="signing_date" value="{{ contract.signing_date|date:"d/m/yy" }}" required
                                                                data-date-format="dd/mm/yyyy" data-date-container='#datepicker1' data-provide="datepicker">
                                                                <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Hiệu lực hợp đồng</label>
                                                        <div class="input-daterange input-group" id="datepicker6" data-date-format="dd/mm/yyyy" data-date-autoclose="true" data-provide="datepicker" data-date-container='#datepicker6'>
                                                            <input type="text" class="form-control" name="value_date" value="{{ contract.value_date|date:"d/m/yy" }}" required placeholder="Start Date"/>
                                                            <input type="text" class="form-control" name="expire_date" value="{{ contract.expire_date|date:"d/m/yy" }}" required placeholder="End Date" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Loại Hợp đồng</label>
                                                        <select class="form-select" name="typecontract" required>
                                                            <option selected value="{{ contract.typecontract.id }}">{{ contract.typecontract.name }}</option>
                                                            {% for i in typecontract_list %}
                                                            <option value="{{i.id}}">{{i.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label for="validationCustom03" class="form-label">Khách hàng</label>
                                                        <select class="form-select" id="validationCustom03" name="customer" required>
                                                            <option selected value="{{ contract.customer.id }}">{{ contract.customer.name }}</option>
                                                            {% for i in customer_list %}
                                                            <option value="{{i.id}}">{{i.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label for="validationCustom03" class="form-label">Người đại diện</label>
                                                        <select class="form-select" id="validationCustom03" name="director" required>
                                                            <option selected value="{{ contract.director.id }}">{{ contract.director.name }}</option>
                                                            {% for i in director_list %}
                                                            <option value="{{i.id}}">{{i.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="input-currency">Giá trị hợp đồng</label>
                                                            <input id="input-currency" class="form-control input-mask text-left" name="contract_value" value="{{ contract.contract_value }}" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'digits': 0, 'digitsOptional': false, 'placeholder': '0'">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="input-currency">Giá trị bảo lãnh</label>
                                                            <input id="input-currency" class="form-control input-mask text-left" name="guaranteed_value" value="{{ contract.guaranteed_value }}" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'digits': 0, 'digitsOptional': false, 'placeholder': '0'">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label for="validationCustom03" class="form-label">Trạng thái hợp đồng</label>
                                                        <select class="form-select" id="validationCustom03" name="status" value="{{ contract.status.name }}">
                                                            <option selected value="{{ contract.status.id }}">{{ contract.status.name }}</option>
                                                            {% for i in status_list %}
                                                            <option value="{{i.id}}">{{i.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label for="validationCustom03" class="form-label">Sản phẩm</label>
                                                        <select class="form-select" id="validationCustom03" name="pricelist">
                                                            <option selected value="{{ contract.pricelist.name }}">Choose...</option>
                                                            <option value=""></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label for="formFileMultiple" class="form-label">Tài liệu kèm theo</label>
                                                        <input class="form-control" name="upload_file" value="{{ contract.upload_file }}" type="file" id="formFileMultiple" multiple>
                                                        <p><a href="/media/{{ contract.upload_file }}">{{ contract.upload_file }}</a></p>
                                                      </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label for="formFile" class="form-label">Hợp đồng</label>
                                                        <input class="form-control" name="upload_contract" value="{{ contract.upload_contract }}" type="file" id="formFile">
                                                        <p><a href="/media/{{ contract.upload_contract }}">{{ contract.upload_contract }}</a></p>
                                                      </div>
                                                </div>
                                            </div>
                                            
                                            <div class="mb-3">
                                                <label>Ghi chú</label>
                                                <div>
                                                    <textarea class="form-control" name="note" value="{{ contract.note }}" rows="5">{{ contract.note }}</textarea>
                                                </div>
                                            </div>
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" type="checkbox" id="formCheck2" name="active" value="{{ contract.active }}" checked>
                                                <label class="form-check-label" for="formCheck2">  
                                                    Activated
                                                </label>
                                            </div>

                                            <div>
                                                <div>
                                                    <button type="Submit" class="btn btn-primary waves-effect waves-light me-1">
                                                        Submit
                                                    </button>
                                                    <button type="reset" class="btn btn-secondary waves-effect">
                                                        Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
{% endblock content %}
{% block extra_javascript %}
    <script src="{% static 'libs/parsleyjs/dist/parsley.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>

    <!-- form mask -->
    <script src="{% static 'libs/inputmask/dist/jquery.inputmask.min.js' %}"></script>
    <!-- form mask init -->
    <script src="{% static 'js/pages/form-mask.init.js' %}"></script>    

    <script src="{% static 'js/pages/form-validation.init.js' %}"></script>

{% endblock extra_javascript %}